.container {
    width: 100vw;
    height: 80.9rem;
    background-color: $white-neutral;
    display: flex;
    flex-direction: column;
}
@include respond(big-desktop) {
    .container {
        width: 73.6rem;
        height: 51.2em;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 1.5;
    }
}
